/* _content/MadeinHeavenBookStore/Views/CouponManage/CouponManage.cshtml.rz.scp.css */
.widget-26[b-8cpn3z4bdp] {
    color: #3c4142;
    font-weight: 400;
}

    .widget-26 tr:first-child td[b-8cpn3z4bdp] {
        border: 0;
    }


    .widget-26 .widget-26-job-title[b-8cpn3z4bdp] {
        min-width: 200px;
    }

        .widget-26 .widget-26-job-title a[b-8cpn3z4bdp] {
            font-weight: 400;
            font-size: 0.875rem;
            color: #3c4142;
            line-height: 1.5;
        }

            .widget-26 .widget-26-job-title a:hover[b-8cpn3z4bdp] {
                color: #68CBD7;
                text-decoration: none;
            }

        .widget-26 .widget-26-job-title .employer-name[b-8cpn3z4bdp] {
            margin: 0;
            line-height: 1.5;
            font-weight: 400;
            color: #3c4142;
            font-size: 0.8125rem;
            color: #3c4142;
        }

            .widget-26 .widget-26-job-title .employer-name:hover[b-8cpn3z4bdp] {
                color: #68CBD7;
                text-decoration: none;
            }

        .widget-26 .widget-26-job-title .time[b-8cpn3z4bdp] {
            font-size: 12px;
            font-weight: 400;
        }

    .widget-26 .widget-26-job-info[b-8cpn3z4bdp] {
        min-width: 100px;
        font-weight: 400;
    }

        .widget-26 .widget-26-job-info p[b-8cpn3z4bdp] {
            line-height: 1.5;
            color: #3c4142;
            font-size: 0.8125rem;
        }

        .widget-26 .widget-26-job-info .location[b-8cpn3z4bdp] {
            color: #3c4142;
        }

    .widget-26 .widget-26-job-salary[b-8cpn3z4bdp] {
        min-width: 70px;
        font-weight: 400;
        color: #3c4142;
        font-size: 0.8125rem;
    }

    .widget-26 .widget-26-job-category[b-8cpn3z4bdp] {
        padding: .5rem;
        display: inline-flex;
        white-space: nowrap;
        border-radius: 15px;
    }

        .widget-26 .widget-26-job-category .indicator[b-8cpn3z4bdp] {
            width: 13px;
            height: 13px;
            margin-right: .5rem;
            float: left;
            border-radius: 50%;
        }

        .widget-26 .widget-26-job-category span[b-8cpn3z4bdp] {
            font-size: 0.8125rem;
            color: #3c4142;
            font-weight: 600;
        }

    .widget-26 .widget-26-job-starred svg[b-8cpn3z4bdp] {
        width: 20px;
        height: 20px;
        color: #fd8b2c;
    }

        .widget-26 .widget-26-job-starred svg.starred[b-8cpn3z4bdp] {
            fill: #fd8b2c;
        }

.bg-soft-base[b-8cpn3z4bdp] {
    background-color: #e1f5f7;
}

.bg-soft-warning[b-8cpn3z4bdp] {
    background-color: #fff4e1;
}

.bg-soft-success[b-8cpn3z4bdp] {
    background-color: #d1f6f2;
}

.bg-soft-danger[b-8cpn3z4bdp] {
    background-color: #fedce0;
}

.bg-soft-info[b-8cpn3z4bdp] {
    background-color: #d7efff;
}


.search-form[b-8cpn3z4bdp] {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}

    .search-form input[b-8cpn3z4bdp] {
        height: 100%;
        background: transparent;
        border: 0;
        display: block;
        width: 100%;
        padding: 1rem;
        height: 100%;
        font-size: 1rem;
    }

    .search-form select[b-8cpn3z4bdp] {
        background: transparent;
        border: 0;
        padding: 1rem;
        height: 100%;
        font-size: 1rem;
    }

        .search-form select:focus[b-8cpn3z4bdp] {
            border: 0;
        }

    .search-form button[b-8cpn3z4bdp] {
        height: 100%;
        width: 100%;
        font-size: 1rem;
    }

        .search-form button svg[b-8cpn3z4bdp] {
            width: 24px;
            height: 24px;
        }

.search-body[b-8cpn3z4bdp] {
    margin-bottom: 1.5rem;
}

    .search-body .search-filters .filter-list[b-8cpn3z4bdp] {
        margin-bottom: 1.3rem;
    }

        .search-body .search-filters .filter-list .title[b-8cpn3z4bdp] {
            color: #3c4142;
            margin-bottom: 1rem;
        }

        .search-body .search-filters .filter-list .filter-text[b-8cpn3z4bdp] {
            color: #727686;
        }

    .search-body .search-result .result-header[b-8cpn3z4bdp] {
        margin-bottom: 2rem;
    }

        .search-body .search-result .result-header .records[b-8cpn3z4bdp] {
            color: #3c4142;
        }

        .search-body .search-result .result-header .result-actions[b-8cpn3z4bdp] {
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .search-body .search-result .result-header .result-actions .result-sorting[b-8cpn3z4bdp] {
                display: flex;
                align-items: center;
            }

                .search-body .search-result .result-header .result-actions .result-sorting span[b-8cpn3z4bdp] {
                    flex-shrink: 0;
                    font-size: 0.8125rem;
                }

                .search-body .search-result .result-header .result-actions .result-sorting select[b-8cpn3z4bdp] {
                    color: #68CBD7;
                }

                    .search-body .search-result .result-header .result-actions .result-sorting select option[b-8cpn3z4bdp] {
                        color: #3c4142;
                    }



.card-margin[b-8cpn3z4bdp] {
    margin-bottom: 1.875rem;
}

}

.card-margin[b-8cpn3z4bdp] {
    margin-bottom: 1.875rem;
}

.card[b-8cpn3z4bdp] {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card[b-8cpn3z4bdp] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}
/* _content/MadeinHeavenBookStore/Views/OrderCheck/OrderCheck.cshtml.rz.scp.css */
.widget-26[b-1tdtnbtyz0] {
    color: #3c4142;
    font-weight: 400;
}

    .widget-26 tr:first-child td[b-1tdtnbtyz0] {
        border: 0;
    }


    .widget-26 .widget-26-job-title[b-1tdtnbtyz0] {
        min-width: 200px;
    }

        .widget-26 .widget-26-job-title a[b-1tdtnbtyz0] {
            font-weight: 400;
            font-size: 0.875rem;
            color: #3c4142;
            line-height: 1.5;
        }

            .widget-26 .widget-26-job-title a:hover[b-1tdtnbtyz0] {
                color: #68CBD7;
                text-decoration: none;
            }

        .widget-26 .widget-26-job-title .employer-name[b-1tdtnbtyz0] {
            margin: 0;
            line-height: 1.5;
            font-weight: 400;
            color: #3c4142;
            font-size: 0.8125rem;
            color: #3c4142;
        }

            .widget-26 .widget-26-job-title .employer-name:hover[b-1tdtnbtyz0] {
                color: #68CBD7;
                text-decoration: none;
            }

        .widget-26 .widget-26-job-title .time[b-1tdtnbtyz0] {
            font-size: 12px;
            font-weight: 400;
        }

    .widget-26 .widget-26-job-info[b-1tdtnbtyz0] {
        min-width: 100px;
        font-weight: 400;
    }

        .widget-26 .widget-26-job-info p[b-1tdtnbtyz0] {
            line-height: 1.5;
            color: #3c4142;
            font-size: 0.8125rem;
        }

        .widget-26 .widget-26-job-info .location[b-1tdtnbtyz0] {
            color: #3c4142;
        }

    .widget-26 .widget-26-job-salary[b-1tdtnbtyz0] {
        min-width: 70px;
        font-weight: 400;
        color: #3c4142;
        font-size: 0.8125rem;
    }

    .widget-26 .widget-26-job-category[b-1tdtnbtyz0] {
        padding: .5rem;
        display: inline-flex;
        white-space: nowrap;
        border-radius: 15px;
    }

        .widget-26 .widget-26-job-category .indicator[b-1tdtnbtyz0] {
            width: 13px;
            height: 13px;
            margin-right: .5rem;
            float: left;
            border-radius: 50%;
        }

        .widget-26 .widget-26-job-category span[b-1tdtnbtyz0] {
            font-size: 0.8125rem;
            color: #3c4142;
            font-weight: 600;
        }

    .widget-26 .widget-26-job-starred svg[b-1tdtnbtyz0] {
        width: 20px;
        height: 20px;
        color: #fd8b2c;
    }

        .widget-26 .widget-26-job-starred svg.starred[b-1tdtnbtyz0] {
            fill: #fd8b2c;
        }

.bg-soft-base[b-1tdtnbtyz0] {
    background-color: #e1f5f7;
}

.bg-soft-warning[b-1tdtnbtyz0] {
    background-color: #fff4e1;
}

.bg-soft-success[b-1tdtnbtyz0] {
    background-color: #d1f6f2;
}

.bg-soft-danger[b-1tdtnbtyz0] {
    background-color: #fedce0;
}

.bg-soft-info[b-1tdtnbtyz0] {
    background-color: #d7efff;
}


.search-form[b-1tdtnbtyz0] {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}

    .search-form input[b-1tdtnbtyz0] {
        height: 100%;
        background: transparent;
        border: 0;
        display: block;
        width: 100%;
        padding: 1rem;
        height: 100%;
        font-size: 1rem;
    }

    .search-form select[b-1tdtnbtyz0] {
        background: transparent;
        border: 0;
        padding: 1rem;
        height: 100%;
        font-size: 1rem;
    }

        .search-form select:focus[b-1tdtnbtyz0] {
            border: 0;
        }

    .search-form button[b-1tdtnbtyz0] {
        height: 100%;
        width: 100%;
        font-size: 1rem;
    }

        .search-form button svg[b-1tdtnbtyz0] {
            width: 24px;
            height: 24px;
        }

.search-body[b-1tdtnbtyz0] {
    margin-bottom: 1.5rem;
}

    .search-body .search-filters .filter-list[b-1tdtnbtyz0] {
        margin-bottom: 1.3rem;
    }

        .search-body .search-filters .filter-list .title[b-1tdtnbtyz0] {
            color: #3c4142;
            margin-bottom: 1rem;
        }

        .search-body .search-filters .filter-list .filter-text[b-1tdtnbtyz0] {
            color: #727686;
        }

    .search-body .search-result .result-header[b-1tdtnbtyz0] {
        margin-bottom: 2rem;
    }

        .search-body .search-result .result-header .records[b-1tdtnbtyz0] {
            color: #3c4142;
        }

        .search-body .search-result .result-header .result-actions[b-1tdtnbtyz0] {
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .search-body .search-result .result-header .result-actions .result-sorting[b-1tdtnbtyz0] {
                display: flex;
                align-items: center;
            }

                .search-body .search-result .result-header .result-actions .result-sorting span[b-1tdtnbtyz0] {
                    flex-shrink: 0;
                    font-size: 0.8125rem;
                }

                .search-body .search-result .result-header .result-actions .result-sorting select[b-1tdtnbtyz0] {
                    color: #68CBD7;
                }

                    .search-body .search-result .result-header .result-actions .result-sorting select option[b-1tdtnbtyz0] {
                        color: #3c4142;
                    }



.card-margin[b-1tdtnbtyz0] {
    margin-bottom: 1.875rem;
}

}

.card-margin[b-1tdtnbtyz0] {
    margin-bottom: 1.875rem;
}

.card[b-1tdtnbtyz0] {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card[b-1tdtnbtyz0] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}
/* _content/MadeinHeavenBookStore/Views/ProductManage/ProductManage.cshtml.rz.scp.css */
.widget-26[b-wpg57r4nq1] {
    color: #3c4142;
    font-weight: 400;
}

    .widget-26 tr:first-child td[b-wpg57r4nq1] {
        border: 0;
    }


    .widget-26 .widget-26-job-title[b-wpg57r4nq1] {
        min-width: 200px;
    }

        .widget-26 .widget-26-job-title a[b-wpg57r4nq1] {
            font-weight: 400;
            font-size: 0.875rem;
            color: #3c4142;
            line-height: 1.5;
        }

            .widget-26 .widget-26-job-title a:hover[b-wpg57r4nq1] {
                color: #68CBD7;
                text-decoration: none;
            }

        .widget-26 .widget-26-job-title .employer-name[b-wpg57r4nq1] {
            margin: 0;
            line-height: 1.5;
            font-weight: 400;
            color: #3c4142;
            font-size: 0.8125rem;
            color: #3c4142;
        }

            .widget-26 .widget-26-job-title .employer-name:hover[b-wpg57r4nq1] {
                color: #68CBD7;
                text-decoration: none;
            }

        .widget-26 .widget-26-job-title .time[b-wpg57r4nq1] {
            font-size: 12px;
            font-weight: 400;
        }

    .widget-26 .widget-26-job-info[b-wpg57r4nq1] {
        min-width: 100px;
        font-weight: 400;
    }

        .widget-26 .widget-26-job-info p[b-wpg57r4nq1] {
            line-height: 1.5;
            color: #3c4142;
            font-size: 0.8125rem;
        }

        .widget-26 .widget-26-job-info .location[b-wpg57r4nq1] {
            color: #3c4142;
        }

    .widget-26 .widget-26-job-salary[b-wpg57r4nq1] {
        min-width: 70px;
        font-weight: 400;
        color: #3c4142;
        font-size: 0.8125rem;
    }

    .widget-26 .widget-26-job-category[b-wpg57r4nq1] {
        padding: .5rem;
        display: inline-flex;
        white-space: nowrap;
        border-radius: 15px;
    }

        .widget-26 .widget-26-job-category .indicator[b-wpg57r4nq1] {
            width: 13px;
            height: 13px;
            margin-right: .5rem;
            float: left;
            border-radius: 50%;
        }

        .widget-26 .widget-26-job-category span[b-wpg57r4nq1] {
            font-size: 0.8125rem;
            color: #3c4142;
            font-weight: 600;
        }

    .widget-26 .widget-26-job-starred svg[b-wpg57r4nq1] {
        width: 20px;
        height: 20px;
        color: #fd8b2c;
    }

        .widget-26 .widget-26-job-starred svg.starred[b-wpg57r4nq1] {
            fill: #fd8b2c;
        }

.bg-soft-base[b-wpg57r4nq1] {
    background-color: #e1f5f7;
}

.bg-soft-warning[b-wpg57r4nq1] {
    background-color: #fff4e1;
}

.bg-soft-success[b-wpg57r4nq1] {
    background-color: #d1f6f2;
}

.bg-soft-danger[b-wpg57r4nq1] {
    background-color: #fedce0;
}

.bg-soft-info[b-wpg57r4nq1] {
    background-color: #d7efff;
}


.search-form[b-wpg57r4nq1] {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}

    .search-form input[b-wpg57r4nq1] {
        height: 100%;
        background: transparent;
        border: 0;
        display: block;
        width: 100%;
        padding: 1rem;
        height: 100%;
        font-size: 1rem;
    }

    .search-form select[b-wpg57r4nq1] {
        background: transparent;
        border: 0;
        padding: 1rem;
        height: 100%;
        font-size: 1rem;
    }

        .search-form select:focus[b-wpg57r4nq1] {
            border: 0;
        }

    .search-form button[b-wpg57r4nq1] {
        height: 100%;
        width: 100%;
        font-size: 1rem;
    }

        .search-form button svg[b-wpg57r4nq1] {
            width: 24px;
            height: 24px;
        }

.search-body[b-wpg57r4nq1] {
    margin-bottom: 1.5rem;
}

    .search-body .search-filters .filter-list[b-wpg57r4nq1] {
        margin-bottom: 1.3rem;
    }

        .search-body .search-filters .filter-list .title[b-wpg57r4nq1] {
            color: #3c4142;
            margin-bottom: 1rem;
        }

        .search-body .search-filters .filter-list .filter-text[b-wpg57r4nq1] {
            color: #727686;
        }

    .search-body .search-result .result-header[b-wpg57r4nq1] {
        margin-bottom: 2rem;
    }

        .search-body .search-result .result-header .records[b-wpg57r4nq1] {
            color: #3c4142;
        }

        .search-body .search-result .result-header .result-actions[b-wpg57r4nq1] {
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .search-body .search-result .result-header .result-actions .result-sorting[b-wpg57r4nq1] {
                display: flex;
                align-items: center;
            }

                .search-body .search-result .result-header .result-actions .result-sorting span[b-wpg57r4nq1] {
                    flex-shrink: 0;
                    font-size: 0.8125rem;
                }

                .search-body .search-result .result-header .result-actions .result-sorting select[b-wpg57r4nq1] {
                    color: #68CBD7;
                }

                    .search-body .search-result .result-header .result-actions .result-sorting select option[b-wpg57r4nq1] {
                        color: #3c4142;
                    }



.card-margin[b-wpg57r4nq1] {
    margin-bottom: 1.875rem;
}

}

.card-margin[b-wpg57r4nq1] {
    margin-bottom: 1.875rem;
}

.card[b-wpg57r4nq1] {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card[b-wpg57r4nq1] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}
/* _content/MadeinHeavenBookStore/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-36sk5sihj3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-36sk5sihj3] {
  color: #0077cc;
}

.btn-primary[b-36sk5sihj3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-36sk5sihj3], .nav-pills .show > .nav-link[b-36sk5sihj3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-36sk5sihj3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-36sk5sihj3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-36sk5sihj3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-36sk5sihj3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-36sk5sihj3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MadeinHeavenBookStore/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xydvxsl38f] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xydvxsl38f] {
  color: #0077cc;
}

.btn-primary[b-xydvxsl38f] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xydvxsl38f], .nav-pills .show > .nav-link[b-xydvxsl38f] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xydvxsl38f] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xydvxsl38f] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xydvxsl38f] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xydvxsl38f] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xydvxsl38f] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MadeinHeavenBookStore/Views/UserManage/UserManage.cshtml.rz.scp.css */
.widget-26[b-upe6pstr73] {
    color: #3c4142;
    font-weight: 400;
}

    .widget-26 tr:first-child td[b-upe6pstr73] {
        border: 0;
    }


    .widget-26 .widget-26-job-title[b-upe6pstr73] {
        min-width: 200px;
    }

        .widget-26 .widget-26-job-title a[b-upe6pstr73] {
            font-weight: 400;
            font-size: 0.875rem;
            color: #3c4142;
            line-height: 1.5;
        }

            .widget-26 .widget-26-job-title a:hover[b-upe6pstr73] {
                color: #68CBD7;
                text-decoration: none;
            }

        .widget-26 .widget-26-job-title .employer-name[b-upe6pstr73] {
            margin: 0;
            line-height: 1.5;
            font-weight: 400;
            color: #3c4142;
            font-size: 0.8125rem;
            color: #3c4142;
        }

            .widget-26 .widget-26-job-title .employer-name:hover[b-upe6pstr73] {
                color: #68CBD7;
                text-decoration: none;
            }

        .widget-26 .widget-26-job-title .time[b-upe6pstr73] {
            font-size: 12px;
            font-weight: 400;
        }

    .widget-26 .widget-26-job-info[b-upe6pstr73] {
        min-width: 100px;
        font-weight: 400;
    }

        .widget-26 .widget-26-job-info p[b-upe6pstr73] {
            line-height: 1.5;
            color: #3c4142;
            font-size: 0.8125rem;
        }

        .widget-26 .widget-26-job-info .location[b-upe6pstr73] {
            color: #3c4142;
        }

    .widget-26 .widget-26-job-salary[b-upe6pstr73] {
        min-width: 70px;
        font-weight: 400;
        color: #3c4142;
        font-size: 0.8125rem;
    }

    .widget-26 .widget-26-job-category[b-upe6pstr73] {
        padding: .5rem;
        display: inline-flex;
        white-space: nowrap;
        border-radius: 15px;
    }

        .widget-26 .widget-26-job-category .indicator[b-upe6pstr73] {
            width: 13px;
            height: 13px;
            margin-right: .5rem;
            float: left;
            border-radius: 50%;
        }

        .widget-26 .widget-26-job-category span[b-upe6pstr73] {
            font-size: 0.8125rem;
            color: #3c4142;
            font-weight: 600;
        }

    .widget-26 .widget-26-job-starred svg[b-upe6pstr73] {
        width: 20px;
        height: 20px;
        color: #fd8b2c;
    }

        .widget-26 .widget-26-job-starred svg.starred[b-upe6pstr73] {
            fill: #fd8b2c;
        }

.bg-soft-base[b-upe6pstr73] {
    background-color: #e1f5f7;
}

.bg-soft-warning[b-upe6pstr73] {
    background-color: #fff4e1;
}

.bg-soft-success[b-upe6pstr73] {
    background-color: #d1f6f2;
}

.bg-soft-danger[b-upe6pstr73] {
    background-color: #fedce0;
}

.bg-soft-info[b-upe6pstr73] {
    background-color: #d7efff;
}


.search-form[b-upe6pstr73] {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}

    .search-form input[b-upe6pstr73] {
        height: 100%;
        background: transparent;
        border: 0;
        display: block;
        width: 100%;
        padding: 1rem;
        height: 100%;
        font-size: 1rem;
    }

    .search-form select[b-upe6pstr73] {
        background: transparent;
        border: 0;
        padding: 1rem;
        height: 100%;
        font-size: 1rem;
    }

        .search-form select:focus[b-upe6pstr73] {
            border: 0;
        }

    .search-form button[b-upe6pstr73] {
        height: 100%;
        width: 100%;
        font-size: 1rem;
    }

        .search-form button svg[b-upe6pstr73] {
            width: 24px;
            height: 24px;
        }

.search-body[b-upe6pstr73] {
    margin-bottom: 1.5rem;
}

    .search-body .search-filters .filter-list[b-upe6pstr73] {
        margin-bottom: 1.3rem;
    }

        .search-body .search-filters .filter-list .title[b-upe6pstr73] {
            color: #3c4142;
            margin-bottom: 1rem;
        }

        .search-body .search-filters .filter-list .filter-text[b-upe6pstr73] {
            color: #727686;
        }

    .search-body .search-result .result-header[b-upe6pstr73] {
        margin-bottom: 2rem;
    }

        .search-body .search-result .result-header .records[b-upe6pstr73] {
            color: #3c4142;
        }

        .search-body .search-result .result-header .result-actions[b-upe6pstr73] {
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .search-body .search-result .result-header .result-actions .result-sorting[b-upe6pstr73] {
                display: flex;
                align-items: center;
            }

                .search-body .search-result .result-header .result-actions .result-sorting span[b-upe6pstr73] {
                    flex-shrink: 0;
                    font-size: 0.8125rem;
                }

                .search-body .search-result .result-header .result-actions .result-sorting select[b-upe6pstr73] {
                    color: #68CBD7;
                }

                    .search-body .search-result .result-header .result-actions .result-sorting select option[b-upe6pstr73] {
                        color: #3c4142;
                    }



.card-margin[b-upe6pstr73] {
    margin-bottom: 1.875rem;
}

}

.card-margin[b-upe6pstr73] {
    margin-bottom: 1.875rem;
}

.card[b-upe6pstr73] {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card[b-upe6pstr73] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}
