

@{
    Layout = "_AdminLayout";
}



<form method="post" asp-controller="Admin" asp-action="AdminCreate">
    <input id="mail" name="mail" />
    <button class="btn btn-primary" >Lên Admin</button>
</form>