<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Made in Heaven</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
  
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weather Forcast
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/manageproduct">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product Manage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/managecoupon">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Coupon Manage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/manageusers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> User Manage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/manageorders">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Order Manage
            </NavLink>
        </div>
        
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
