@model IEnumerable<MadeinHeavenBookStore.Models.Category>

<div class="flex-w flex-l-m filter-tope-group m-tb-10">
    <form method="post" asp-controller="Shop" asp-action="Shop">
        <button type="submit" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" name="categoryId" value="0">
            All Products
        </button>
    </form>
    <form id="categoryForm" method="post" action="@Url.Action("ProductsByCategory", "Shop")">
        
        @foreach (var item in Model)
        {
            <button type="submit" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" name="categoryId" value="@item.Id">
                @item.Name
            </button>
        }
    </form>


</div>
